@using ApplicationLayer.ViewModels

@model DescriptionViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center mb-4">Enter Your Description</h2>
                    <form id="descriptionForm" method="post" asp-action="EditDescription" asp-controller="Artist">
                        <input type="hidden" name="descriptionVM.Id" value="@Model.Id">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control" name="descriptionVM.Description" id="description" rows="5" placeholder="Type your description here..." required spellcheck="false">@Model.Description</textarea>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-outline-primary btn-lg rounded-pill" onclick="generateDescription()">Generate</button>
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill ms-3">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var descriptions = @Html.Raw(Json.Serialize(Model.GeneratedDescription));
    var currentIndex = 0;

    function generateDescription() {
        document.getElementById('description').value = descriptions[currentIndex];
        currentIndex = (currentIndex + 1) % descriptions.length;
    }
</script>

<style>
    .card {
        border-radius: 20px;
        margin-top: 120px;
    }

    .btn-primary {
        background-color: #4CAF50;  
        border: none;
    }

        .btn-primary:hover {
            background-color: #45a049;
        }

    .form-control {
        border-radius: 15px;
    }
</style>
