@using ViewModels
@model AddMusicViewModel;

<div class="container mt-5">
    <div class="text-center mb-4" data-aos="fade-down">
        <h1 class="info-text"><i class="bi bi-music-note-list"></i></h1>
        <p class="lead">Share your art.</p>
    </div>
    <h5 class="text-center text-center">Step: 1/2</h5>
    <form method="post" asp-controller="Music" asp-action="AddMusicDatas">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <hr data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <label for="Name" class="form-label">Music Name:</label>
                    <input type="text" class="form-control rounded-pill" id="Name" name="Name" placeholder="Enter the music name" required>
                </div>
                <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <label for="Date" class="form-label">Date Music:</label>
                    <input type="date" class="form-control rounded-pill" id="Date" name="Date" required>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GenreId" class="control-label">Genre:</label>
                    <select asp-for="@Model.GenreId" asp-items="@(new SelectList(ViewBag.Genres,"Id","Name"))" class="form-control rounded-pill"></select>
                </div>
                <div class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    <button type="submit" class="btn btn-primary rounded-pill mt-3">Create</button>
                </div>
                <hr data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="text-center mt-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                    <p class="mb-0">
                        Do you want to add an album? <a asp-action="AddAlbum" asp-controller="Album" class="text-decoration-none">
                            Add
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .info-text {
        background: linear-gradient(to right, #ff5733, #d90000);
        -webkit-background-clip: text;
        color: transparent;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .rounded-pill {
        border-radius: 50px;
    }
</style>
