@using ApplicationLayer.ViewModels

@model SearchMusics

@{
    ViewData["Title"] = "Add Music to Playlist";
}

<h1>Add Music to Playlist</h1>

<div class="search-box">
    <form asp-action="SearchMusicToPlaylist" asp-controller="Search" method="GET">
        <input type="text" name="query" class="search-input bg-light text-dark" placeholder="Enter your search query...">
        <button type="submit" class="search-button bg-black text-light"><i class="bi bi-search"></i></button>
    </form>
</div>

@if (Model != null && Model.MusicsSuggestion.Any())
{
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="text-center">Sugested musics</h2>
            <div class="music-container">
                @foreach (var music in Model.MusicsSuggestion)
                {
                    <div class="music-item">
                        <div class="music-info">
                            <span class="artist-name">@music.DurationText<i class="bi bi-clock mx-2"></i></span>
                            <img src="data:image/png;base64,@(Convert.ToBase64String(music.MusicData.Picture))" class="music-image" />
                            <button type="button" class="btn btn-success add-to-playlist" data-music-id="@music.Music.Id">Add</button>
                            <span class="music-name">@music.Music.Name</span> 
                            <span class="artist-name">@music.Music.Artist.Name</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<style>
    .search-box {
        margin-bottom: 20px;
        text-align: center;
    }

    .search-input {
        width: 60%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .search-button {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f0f0f0;
        font-size: 16px;
        cursor: pointer;
    }

        .search-button:hover {
            background-color: #e0e0e0;
        }

    .card {
        border-radius: 20px;
    }

    .music-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .music-item {
        text-align: center;
        padding: 10px;
        background-color: #282828;
        width: 220px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .music-item:hover {
            transform: translateY(-5px);
        }

    .music-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .music-name {
        font-weight: bold;
        color: white;
        margin-top: 10px;
    }

    .artist-name {
        color: #888;
        margin-top: 5px;
    }

    .music-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-playlist').click(function () {
                var musicId = $(this).data('music-id');
            });
        });
    </script>
}
