@using ApplicationLayer.ViewModels;

@model IEnumerable<PlaylistViewModel>

<style>
    .playlist-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .playlist-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .playlist-item {
        text-align: center;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

        .playlist-item:hover {
            transform: translateY(-5px);
        }

    .playlist-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .playlist-name {
        font-weight: bold;
        color: black;
        margin-top: 10px;
        font-size: 18px;
    }

    .playlist-count {
        color: #888;
        margin-top: 5px;
    }

    .play-button {
        background-color: #008000;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

        .play-button:hover {
            background-color: #15a94d;
        }

        .play-button i {
            font-size: 24px;
            color: white;
        }

    .playlist-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .add-playlist-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .card {
        border-radius: 20px;
        margin-top: 120px;
    }
</style>

@if (Model != null && Model.Any())
{
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="playlist-header">
                <h2>Your Playlists</h2>
                <i class="bi bi-text-center" style="font-size: 40px;"></i>
            </div>

            <div class="playlist-container text-center mx-auto" style="display: flex; flex-wrap: wrap; justify-content: center;">
                @foreach (var playlist in Model)
                {
                    <div class="playlist-item">
                        <div class="playlist-info">
                            <img src="data:image/png;base64,@(Convert.ToBase64String(playlist.Image))" class="playlist-image" />
                            <span class="playlist-name">@playlist.Name</span>
                            <span class="playlist-count">@playlist.Musics.Count() songs</span>
                            <form method="get" asp-controller="Playlist" asp-action="PlaylistFromSession">
                                <input type="hidden" name="playlistId" value="@playlist.Id" />
                                <button type="submit" class="btn btn-dark text-black rounded-circle play-button">
                                    <i class="bi bi-text-center"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>

            <div style="position: fixed; bottom: 20px; right: 20px;">
                <form method="get" asp-controller="Playlist" asp-action="CreatePlaylist">
                    <button type="submit" class="btn btn-primary rounded-pill">
                        Playlist <i class="bi bi-plus-lg"></i>
                    </button>
                </form>
            </div>
            <div style="position: fixed; bottom: 20px; right: 120px;">
                <form method="get" asp-controller="Search" asp-action="SearchPlaylists">
                    <button type="submit" class="btn btn-primary rounded-pill">
                        Search <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <div class="playlist-header">
        <h2>You no have playlists</h2>
        <form method="get" asp-controller="Playlist" asp-action="CreatePlaylist">
            <button type="submit" class="btn btn-primary rounded-pill text-center">
                Playlist <i class="bi bi-plus-lg"></i>
            </button>
        </form>
    </div>
    <div style="position: fixed; bottom: 20px; right: 20px;">
        <form method="get" asp-controller="Search" asp-action="SearchPlaylists">
            <button type="submit" class="btn btn-primary rounded-pill">
                Search <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
}

