<div class="search-box">
    <form id="searchForm" asp-action="SearchPlaylists" asp-controller="Search" method="post">
        <input type="text" name="query" class="search-input bg-light text-dark" placeholder="Enter your search query...">
        <button type="submit" class="search-button bg-black text-light"><i class="bi bi-search"></i></button>
    </form>
</div>