@using Extensions;

@model Models.ConcreteClasses.Listener;

<div class="text-center" style="margin-right: 30px">
        @if (User.Identity.Name == Model.Name)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="info-text">Your profile</h2>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-14 text-center">
                    <h2 class="info-text">Profile of @Model.Name</h2>
                </div>
            </div>
        }
        @if (Model.PictureProfile != null)
        {
            <img src="data:image/png;base64,@(Convert.ToBase64String(Model.PictureProfile))" class="img-fluid rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" />
        }
        else
        {
            <i class="bi bi-person-circle" style="font-size: 5em;"></i>
        }
        @if (User.Identity.Name == Model.Name && Model.PictureProfile == null)
        {
            <div class="me-2 mx-3" style="margin-top: 0px">
                <a asp-action="AddPictureProfile" asp-controller="Listener"><i class="bi bi-file-image-fill mx-2"></i></a>
            </div>
        }
</div>
