@using Extensions;
@using ViewModels;
@model ArtistPageViewModel;

<div class="text-center" style="margin-right: 30px">
    @if (Model.PictureProfile != null)
    {
        <img src="data:image/png;base64,@(Convert.ToBase64String(Model.PictureProfile))" class="img-fluid rounded-circle" style="width: 180px; height: 180px; object-fit: cover;" />
    }
    else
    {
        <i class="bi bi-person-circle" style="font-size: 5em;"></i>
    }
    @if (User.Identity.Name == Model.Name)
    {
        <div class="me-2 mx-3" style="margin-top: 10px">
            <a asp-action="AddPictureProfile" asp-controller="Artist"><i class="bi bi-file-image-fill mx-2"></i></a>
        </div>
        <hr />
        <div class="container mt-3">    
            <div class="row justify-content-center" style="margin-top: 100px;">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div> 
                                <h5 class="card-title">Description:</h5>
                            </div>
                            <a asp-action="Description" asp-controller="Artist"><i class="bi bi-pen text-primary" style="font-size: 0.89em;"></i></a>
                        </div>
                        <div style="margin-bottom: 40px">
                            @if (Model.Description != null)
                            {
                                <p class="card-text my-auto">@Html.Raw(System.Text.Encodings.Web.HtmlEncoder.Default.Encode(Model.Description))</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        
    }
</div>

