@using ViewModels;
@using Models.Entities

@model DescriptionViewModel

<div class="container mt-3">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description:</h5>
                    <form method="post" asp-action="AddDescription" asp-controller="Artist">
                        <input type="hidden" name="entity.Id" value="@Model.Id">

                        <div class="mb-3">
                            <textarea class="form-control" name="entity.Description" id="description" rows="5" placeholder="Enter your description here" required>@Model.Description</textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary rounded-pill">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
