@using UtilitiesLayer.Extensions;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicWeave</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicWeave.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <style>
        .sidebar {
            height: 100vh;
            width: 300px;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(45deg, #222, #444);
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 0 15px 15px 0;
            transition: width 0.3s ease;
        }

            .sidebar:hover {
                width: 310px;
            }

            .sidebar ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;
            }

                .sidebar ul li {
                    padding: 15px 0;
                }

                    .sidebar ul li a {
                        color: white;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        transition: background-color 0.3s ease;
                    }

                        .sidebar ul li a i {
                            margin-right: 10px;
                        }

                        .sidebar ul li a:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                            border-radius: 5px;
                        }

        .content {
            margin-left: 300px;
            padding: 20px;
        }

        #musicPlayer {
            padding: 20px;
            height: 60px;
            border-radius: 10px;
            width: 100%;
            z-index: 9999;
            margin-bottom: 100px;
        }

        #songName {
            color: #fff;
            margin: 0;
            left: 20px;
            font-size: 18px;
            text-align: center;
        }

        #audioPlayer {
            width: 150%;
        }

        .music-name {
            margin-top: 5px;
        }

    </style>

</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">MusicWeave <i class="bi bi-music-note-list mx-2"></i></a></li>
            <li><a class="nav-link text-light" asp-area="" asp-controller="Main" asp-action="Index">Home <i class="bi bi-house mx-2"></i></a></li>
            <li><a class="nav-link text-light" asp-area="" asp-controller="Main" asp-action="About">About <i class="bi bi-person-workspace mx-2"></i></a></li>
            @if (User.Identity.IsAuthenticated)
            {

                <li><a class="nav-link text-light" asp-area="" asp-controller="Playlist" asp-action="Index">Playlist <i class="bi bi-list-nested mx-2"></i></a></li>
               <li><a class="nav-link text-light" asp-area="" asp-controller="Listener" asp-action="Logout">Logout <i class="bi-box-arrow-right mx-2"></i></a></li>
            }
            else
            {
                <li><a class="nav-link text-light" asp-area="" asp-controller="Listener" asp-action="Login">Login <i class="bi-box-arrow-in-right mx-2"></i></a></li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            
            <div class="text-center music-name" id="musicPlayer" style="padding: 20px; border-radius: 10px; position: absolute; bottom: 0; width: 100%; height: 60px;">
                <p>Current music: <p class="text-center music-name" id="songName" style="color:#008000;"></p></p>
                <audio controls id="audioPlayer" style="width: 100%;"></audio>
            </div>
        }
    </div>
    <div class="text-xxl-end">
        @if (User.Identity.IsAuthenticated)
        {

            @if (User.HasClaim(c => c.Type == "ProfilePictureUrl"))
            {
                var profilePictureUrl = User.FindFirst("ProfilePictureUrl").Value;
                <a class="mt-auto text-light" asp-area="" asp-controller="Listener" asp-action="ListenerPage" style="position: fixed; bottom: 80px; left: 20px; z-index: 1000;">
                    <a href="@Url.Action("ListenerPage", "Listener")" class="nav-link text-light">
                        <img src="@profilePictureUrl" alt="Profile Picture" class="img-fluid rounded-circle me-2" style="margin-left: 1645px; width: 40px; height: 40px; object-fit: cover;" />
                    </a>
                </a>
            }
            else
            {
                <a class="mt-auto text-light text-xxl-end" asp-area="" asp-controller="Listener" asp-action="ListenerPage" style="position: fixed; bottom: 80px; left: 20px; z-index: 1000;">
                    <strong class="text-light text-xxl-end"><i class="bi bi-person-circle me-2"></i></strong>
                </a>
            }
        }
    </div>
    <div class="content">
        <header>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
